<!-- turn debug=true on for logback-test.xml to help debug logging configurations. -->
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Async appenders can drastically speed up logging as well as your application's
    response time but with some potential drawbacks. Read more at.
    https://logback.qos.ch/manual/appenders.html#AsyncAppender
    http://blog.takipi.com/how-to-instantly-improve-your-java-logging-with-7-logback-tweaks/
     -->
    <!--<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="FILEOUT" />-->
        <!--<queueSize>1000</queueSize>-->
    <!--</appender>-->

    <!-- Turn on debug logging for DebugLogging class. -->
    <logger name="pers.xiaoming.notebook.slf4j" level="DEBUG" />

    <!-- Turn on debug logging for all loggers under pers.xiaoming.notebook.slf4j -->
    <logger name="pers.xiaoming.notebook.slf4j.ErrorLogging" level="ERROR" />


    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="ERROR">
        <appender-ref ref="FILEOUT" />
    </root>

</configuration>